<div class="flex bg-transparent">
    <div class="flex flex-col w-[110px] h-screen items-center gap-20 pt-10 pb-10 pointer-events-auto">
        <div class="text-white font-bold text-[14px] h-10">
            <div class="w-[6.86px] h-[5.95px] bg-[#ECC164] rounded-[5px] rounded-tr-[0px]"></div>
            <p>IT CORE</p>
            <p>STORAGE</p>
        </div>
        <div class="flex flex-col justify-between h-80 items-center">
            <i class="fa-solid fa-box text-white text-[40px] hover:text-[#838CF1] cursor-pointer"></i>
            <i class="fa-solid fa-warehouse text-white text-[35px] hover:text-[#838CF1] cursor-pointer"></i>
            <i class="fa-solid fa-list-check text-white text-[40px] hover:text-[#838CF1] cursor-pointer"></i>
            <i class="fa-solid fa-clock-rotate-left text-white text-[40px] hover:text-[#838CF1] cursor-pointer"></i>
            <i class="fa-solid fa-chart-area text-white text-[40px] hover:text-[#838CF1] cursor-pointer"></i>
        </div>
        <div class="flex flex-col items-center justify-between h-20 mt-auto">
            <img src="/images/user.png" class="w-[40px] h-[40px] cursor-pointer">
            <i class="fa-solid fa-arrow-right-from-bracket text-red-500 text-[25px] cursor-pointer"></i>
        </div>
    </div>

    <div class="w-full h-[100px] flex items-center justify-center gap-10 pointer-events-auto">
        <div class="relative flex h-14 w-[878px] items-center overflow-hidden rounded-full border border-white bg-transparent">
            <input type="text" placeholder="ค้นหา ชื่อ, รหัสพนักงาน" 
                class="h-full flex-1 bg-transparent px-8 text-white placeholder-gray-500 outline-none"
            />

            <div class="relative h-full w-44 shrink-0">
                <div class="absolute inset-0 bg-[#1B3563]" style="clip-path: polygon(5% 0%, 60% 0%, 40% 50%, 35% 50%);"></div>
                <div class="absolute inset-0 bg-[#4BA3E3]/50" style="clip-path: polygon(55% 15%, 35% 50%, 60% 100%, 6% 100%);"></div>
                <button 
                    class="absolute inset-0 flex items-center justify-end bg-gradient-to-r from-[#3fa9f5] to-[#1c92d2] text-white hover:brightness-110 transition-all"
                    style="clip-path: polygon(35% 50%, 60% 0%, 100% 0%, 100% 100%, 60% 100%);">
                    <i class="fa-solid fa-magnifying-glass text-2xl mr-8"></i>
                </button>
            </div>
        </div>
        <div class="w-[1px] bg-white/[14%] h-[45px]"></div>
        <div class="relative w-[195px] h-[60px]">
            <select name="warehouse" id="warehouse" class="w-full h-full bg-transparent border border-white text-white rounded-3xl px-6 appearance-none outline-none">
                <option value="warehouse1">คลังสินค้า1</option>
                <option value="warehouse2">คลังสินค้า2</option>
            </select>
            <div class="absolute right-6 top-1/2 -translate-y-1/2 pointer-events-none">
                <i class="fa-solid fa-chevron-down text-white "></i>
            </div>
        </div>
        <i class="fa-solid fa-screwdriver-wrench text-white text-[40px] hover:text-[#838CF1] cursor-pointer"></i>
    </div>
</div>
