<div>
    <p class="text-[#999] text-[14px]">
        <a href="/" class="text-[#D4D4D4]">ภาพรวมสินค้าคงคลัง</a>
        >
        <a href="<%= currentPath || '/' %>" class="text-[#D4D4D4]">
            <%= path %>
        </a>
    </p>
</div>