<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    <style>
        /* เปลี่ยนสีพื้นหลัง CSS ให้ตรงกับ Three.js */
        body { margin: 0; overflow: hidden; background-color: #0E1324; }
        canvas { display: block; }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/font.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
    <div class="relative z-20 pointer-events-none">
        <%- include('../partials/header_with_path', { path1 : "การจัดการผู้ใช้", url_1 : "/user_management"}) %>
    </div>
    <div class="absolute top-[17%] left-[12%]">
        <p class="text-white text-[40px]">การจัดการผู้ใช้</p>
        <p class="text-gray-400 text-[15px] font-light">เพิ่ม / แก้ไข / ลบ / กำหนดสิทธิ์</p>
        <p class="text-gray-400 text-[15px] font-light">รวมถึงควบคุมการเข้าถึงฟังก์ชันต่าง ๆ ของผู้ใช้งาน ได้ที่นี่</p>
    </div>

</body>
</html>