<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse</title>
    <style>
        /* เปลี่ยนสีพื้นหลัง CSS ให้ตรงกับ Three.js */
        body { margin: 0; overflow: hidden; background-color: #0E1324; }
        canvas { display: block; }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- three.js container -->
    <div id="three-container" class="fixed inset-0 z-0"></div>
    <!-- header.ejs -->
    <div class="relative z-20 pointer-events-none">
        <%- include('../partials/header') %>
    </div>

    
    <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
                "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/",
                "gsap": "https://unpkg.com/gsap@3.12.5/index.js"
            }
        }
    </script>
    
    <!-- path -->
    <div class="absolute top-[14%] left-[10%]">
        <%- include('../partials/path', {path : "คลังสินค้า", }) %>
    </div>

    <div class="absolute top-[20%] left-[10%] text-white">
		<p>ข้อมูล ณ คลังสินค้า [wh_id]</p>
		<p>สินค้าคงคลังทั้งหมด [st_count]</p>
		<p class="text-[#989898]">คลิกที่ชั้นวางเพื่อดูรายละเอียด</p>
	</div>

    <!-- guidline -->
	<div class="absolute bottom-[5%] left-[10%] flex gap-10">
		<p class="text-[#989898]"> <i class="fa-solid fa-arrow-pointer" style="color: rgb(255, 255, 255);"></i> คลิกค้างแล้วลาก เพื่อย้ายมุมมอง</p>
		<p class="text-[#989898]"><i class="fa-solid fa-computer-mouse" style="color: rgb(255, 255, 255);"></i> เลื่อนล้อเมาส์ เพื่อซูมเข้า-ออก</p>
	</div>

    <!-- add warehouse -->
    <div class="absolute top-[15%] right-[10%]">
		<a href="/warehouse_management/create">
			<button class="bg-[#EA7987] w-[165px] h-[60px] rounded-xl flex items-center justify-center gap-3">
				<i class="fa-solid fa-warehouse text-white text-[35px]"></i>
				<p class="text-white font-bold text-[20px]">เพิ่มคลัง</p>
			</button>
		</a>

    </div>

    <!-- popup -->
    <div id="wh-popup" class="hidden opacity-0 absolute top-[14%] right-[22%] z-50 w-[320px] rounded-[16px] p-7 shadow-2xl backdrop-blur-md bg-gradient-to-b from-[#0E1324] to-[#36498A]/10  transition-all duration-300 transform scale-95 text-white">
		<h2 class="text-[32px] font-bold leading-tight tracking-wide">
			คลังสินค้า <span id="popup-wh-name">A1</span>
		</h2>
		<p class="text-[14px] italic text-white mb-4 font-light">ID: <span id="popup-wh-id">A0001</span></p>		
		<div class="h-[1px] w-full bg-[#63BBF2]/30 mb-5"></div>
		<div class="space-y-2 mb-8 text-[17px]">
			<p class="text-[18px]">ผู้จัดการ : <span id="popup-wh-manager" class=" text-white">William Saliba</span></p>
			<p>ตำแหน่ง: <span id="popup-wh-location">WH1-S1-A1</span></p>
		</div>

		<div class="mb-6">
			<div class="flex justify-between items-end mb-2">
				<span class="font-bold text-[18px]">จำนวน</span>
				<span class="font-bold text-[18px]"><span id="popup-wh-current">41</span>/<span id="popup-wh-max">1000</span></span>
			</div>
			<div class="w-full h-[10px] bg-white/90 rounded-full overflow-hidden">
				<div id="popup-wh-progress" class="h-full bg-[#6DE4B3] rounded-full transition-all duration-500" style="width: 82%;"></div>
			</div>
		</div>
		<button class="w-full bg-[#6BB8E7] hover:bg-[#5AA9E2] text-[#0E1324] text-[18px]  py-3 px-4 rounded-[10px] transition-colors flex justify-center items-center gap-2">
			<i class="fa-regular fa-pen-to-square"></i> แก้ไขคลัง
		</button>
	</div>

    <script>
		const popup = document.getElementById('wh-popup');
		
		window.closePopup = function() {
			popup.classList.remove('scale-100', 'opacity-100');
			popup.classList.add('scale-95', 'opacity-0');
			setTimeout(() => {
				popup.classList.add('hidden');
			}, 300);
		};

		window.openStockPopup = function(data) {
			document.getElementById('popup-wh-name').innerText = data.name;
			document.getElementById('popup-wh-id').innerText = data.id;
			document.getElementById('popup-wh-manager').innerText = data.manager;
			
			document.getElementById('popup-wh-location').innerText = data.location;
			document.getElementById('popup-wh-current').innerText = data.current;
			document.getElementById('popup-wh-max').innerText = data.max;
			
			const percent = (data.current / data.max) * 100;
			document.getElementById('popup-wh-progress').style.width = percent + '%';

			popup.classList.remove('hidden');
			setTimeout(() => {
				popup.classList.remove('scale-95', 'opacity-0');
				popup.classList.add('scale-100', 'opacity-100');
			}, 10);
		};
	</script>

    <script type="module" src="/wh_management/wh_controller.js"></script>

</body>
</html>